<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script language="JavaScript" src="script/vue.js"></script>
<script language="JavaScript" src="script/axios.min.js"></script>
<script language="JavaScript">

  window.onload = function () {  //当程序启动时，执行此函数
    new Vue({
      "el":"#app",
      "data":{},
      "methods":{
        "commonParam":function () {
          axios({
            "method":"post",
            "url":"/item/ax1",
            "params":{
              "userName":"tom",
              "userPwd":"123456"
            }
          }).then(function (response) {
            console.log(response);
          }).catch(function (error) {
            console.log(error);
          });
        }
      }
    });


/*    var vue = new Vue({
      "el": '#div0',  //绑定到div0元素（element）
      data: {
        uname:'Lina',
        pwd:"123456"
      },
      method:{
        ax:function () {
          alert(vue.uname)
          //axios表示即将发一段异步请求
          //then表示当异步请求成功时，执行的函数
            //catch表示当异步请求失败时，执行的函数
          axios({
            method:'POST',
            url:'item/ax1.do',
            params:{
              uname:vue.uname,  //这里不能用this，因为this.uname在data中，作用域到不了axios()
              pwd:vue.pwd
            }
          })
                  .then(function (response) {
            console.log(response)
          })
                  .catch(function (error) {
            console.log(error)
          });
        }
      }
    });*/
  }
</script>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
    <div id="app">
      <button @click="commonParam">普通请求参数</button>
    </div>
  <div id="div0">
    uname:<input type="text" v-model="uname"/><br>
    password:<input type="text" v-model="pwd"/><br>
    <input type="button" @click=""/>
  </div>
</body>
</html>